.progress-bar-component {
  font-weight: bold;
  color: #666;
  font-size: .8em;

  .progress-bar {
    $radius: 3px;
    display: block;
    position: relative;
    width: 100%;
    height: 6px;
    appearance: none;
    box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 0 0 1px rgba(255, 255, 255, .5);
    border: none;
    border-radius: $radius;
    background: linear-gradient(0deg, #FFF 0%, #F0F0F0 100%);

    &::-moz-progress-bar {
      background: linear-gradient(45deg, #0AF 0%, #0DF 50%, #0AF 100%);
      border-radius: $radius;
    }
  }

  .duration {
    &:not(:empty):before {
      content: 'Duration: ';
    }
  }

  .time-remaining {
    float: right;

    &:not(:empty):after {
      content: ' remaining';
    }
  }
}
